<!DOCTYPE html>
<html>
  <head>
    <title>CSP Test page</title>
  </head>
  <body>
    <h1>CSP Test page</h1>
    <iframe id="iframe1" src="https://teched-lunchtime.azurewebsites.net"></iframe>
    <div> 
        <button id="btnNavigate1">Navigate to http://teched-lunchtime.azurewebsites.net</button>
        <button id="btnNavigate2">Navigate to http://www.wikipedia.org</button>
    </div>
    <script src='javascripts/jquery-2.1.0.js'></script>
    <script src='javascripts/index.js'></script>
  </body>
</html>